Source: ruby-globalid
Section: ruby
Priority: optional
Maintainer: Debian Ruby Team <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Cédric Boutillier <boutil@debian.org>
Build-Depends: debhelper-compat (= 13),
               gem2deb,
               rake,
               ruby-activesupport (>= 2:5.0),
               ruby-rails
Standards-Version: 4.6.0
Vcs-Git: https://salsa.debian.org/ruby-team/ruby-globalid.git
Vcs-Browser: https://salsa.debian.org/ruby-team/ruby-globalid
Homepage: https://github.com/rails/globalid
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-globalid
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends},
         ${ruby:Depends},
         ${shlibs:Depends}
Recommends: ruby-railties
Description: reference models by URI for Ruby on Rails
 A Global ID is an app wide URI of the form gid://YourApp/Some::Model/id
 that uniquely identifies a model instance.
 .
 This is helpful when you need a single identifier to reference different
 classes of objects, for example in job scheduling, when one needs to reference
 a model object rather than serialize the object itself. Another example is a
 drop-down list of options, consisting of both Users and Groups. One has then a
 universal identifier that works for objects of both classes.
 .
 This package is part of the dependencies for the Ruby on Rails framework.
